In [3]:
import sys
!{sys.executable} -m pip install gs-quant

from datetime import date
from gs_quant.data import Dataset
from gs_quant.markets.securities import SecurityMaster, AssetIdentifier
from gs_quant.session import GsSession
import pandas as pd
import numpy as np

Collecting gs-quant
  Downloading https://files.pythonhosted.org/packages/48/bf/6fdb5219059d18a852c870abda42c3c0dbe8059075cb26dafa5baa520c84/gs_quant-0.8.70-py3-none-any.whl (370kB)
    100% |████████████████████████████████| 378kB 6.4MB/s ta 0:00:011
Requirement already satisfied: pandas in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (0.23.4)
Requirement already satisfied: scipy in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (1.1.0)
Requirement already satisfied: cachetools in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (3.1.1)
Requirement already satisfied: requests in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (2.12.4)
Requirement already satisfied: six in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (1.12.0)
Collecting inflection (from gs-quant)
  Using cached https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Collecting funcsigs (from gs-quant)
  Using cached https://files.pythonhosted.org/packages/69/cb/f5be453359271714c01b9bd06126eaf2e368f1fddfff30818754b5ac2328/funcsigs-1.0.2-py2.py3-none-any.whl
Requirement already satisfied: msgpack in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (0.5.6)
Collecting backoff (from gs-quant)
  Using cached https://files.pythonhosted.org/packages/a9/3b/daf9e1fe004e132aab6a96cf2a2e27a772c088f8addeee1d3fc0cf0d2dec/backoff-1.8.1-py2.py3-none-any.whl
Collecting configparser (from gs-quant)
  Using cached https://files.pythonhosted.org/packages/7a/2a/95ed0501cf5d8709490b1d3a3f9b5cf340da6c433f896bbe9ce08dbe6785/configparser-4.0.2-py2.py3-none-any.whl
Requirement already satisfied: future in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (0.18.1)
Requirement already satisfied: python-dateutil>=2.7.0 in /Users/samwu/miniconda3/lib/python3.7/site-packages (from gs-quant) (2.7.5)
Requirement already satisfied: pytz>=2011k in /Users/samwu/miniconda3/lib/python3.7/site-packages (from pandas->gs-quant) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /Users/samwu/miniconda3/lib/python3.7/site-packages (from pandas->gs-quant) (1.15.4)
Building wheels for collected packages: inflection
  Running setup.py bdist_wheel for inflection ... done
  Stored in directory: /Users/samwu/Library/Caches/pip/wheels/9f/5a/d3/6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: inflection, funcsigs, backoff, configparser, gs-quant
Successfully installed backoff-1.8.1 configparser-4.0.2 funcsigs-1.0.2 gs-quant-0.8.70 inflection-0.3.1

In [37]:
client_id = '64019d2ee21e4a04b6722c5ee4f3bd7d'
client_secret = '2d4b5d81d3b7b114f90cf0462bedc581c119242a53240afbb080b09fd3bd1f40'

In [38]:
scopes = GsSession.Scopes.get_default()
GsSession.use(client_id=client_id, client_secret=client_secret, scopes=scopes)

In [39]:
ds = Dataset('USCANFPP_MINI')
gsids = ds.get_coverage()['gsid'].values.tolist()
ds.get_coverage()

       gsid
0     75154
1    193067
2    194688
3    902608
4     85627
5     13901
6    150407
7    161467
8     85072
9     82598
10    86372
11    11896
12   230958
13   177256
14    49154
15    76605
16   173578
17    85914
18   193324
19    75100
20   149756
21   213305
22    79758
23    69796
24    81116
25   202271
26    79145
27    84275
28   183269
29    76226
..      ...
80   188329
81    10516
82    75607
83    18729
84    16678
85    44644
86   223416
87    82598
88    26403
89    91556
90    59248
91    78975
92   903917
93    78045
94    12490
95    40539
96   148401
97    17750
98   198025
99    10696
100   22293
101   66384
102   85517
103  217708
104   79145
105   85631
106   86356
107  905255
108   14593
109   85072

[110 rows x 1 columns]

In [13]:
data = ds.get_data(date(2017, 1, 15), date(2018, 1, 15), gsid=gsids[0:5])
data

,financialReturnsScore,growthScore,gsid,integratedScore,multipleScore,updateTime
date,,,,,,
2017-01-16,0.456,0.362,75154,0.508,0.294,2017-05-11T19:47:36Z
2017-01-17,0.456,0.362,75154,0.508,0.296,2017-05-11T19:47:36Z
2017-01-18,0.454,0.362,75154,0.508,0.290,2017-05-11T19:47:36Z
2017-01-19,0.458,0.364,75154,0.508,0.300,2017-05-11T19:47:36Z
2017-01-20,0.452,0.370,75154,0.506,0.306,2017-05-11T19:47:36Z
2017-01-23,0.452,0.372,75154,0.506,0.302,2017-05-11T19:47:36Z
2017-01-24,0.450,0.368,75154,0.504,0.306,2017-05-11T19:47:36Z
2017-01-25,0.454,0.360,75154,0.500,0.312,2017-05-11T19:47:36Z
2017-01-26,0.454,0.356,75154,0.496,0.322,2017-05-11T19:47:36Z
2017-01-27,0.452,0.356,75154,0.484,0.354,2017-05-11T19:47:36Z
2017-01-30,0.454,0.356,75154,0.490,0.338,2017-05-11T19:47:36Z
2017-01-31,0.456,0.354,75154,0.490,0.338,2017-05-11T19:47:36Z
2017-02-01,0.456,0.358,75154,0.496,0.326,2017-05-11T19:47:36Z
2017-02-02,0.452,0.352,75154,0.492,0.326,2017-05-11T19:47:36Z
2017-02-03,0.450,0.352,75154,0.492,0.328,2017-05-11T19:47:36Z
2017-02-06,0.454,0.352,75154,0.496,0.322,2017-05-11T19:47:36Z
2017-02-07,0.448,0.350,75154,0.488,0.338,2017-05-11T19:47:36Z
2017-02-08,0.448,0.350,75154,0.490,0.330,2017-05-11T19:47:36Z
2017-02-09,0.448,0.348,75154,0.488,0.332,2017-05-11T19:47:36Z
2017-02-10,0.446,0.344,75154,0.486,0.330,2017-05-11T19:47:36Z
2017-02-13,0.452,0.348,75154,0.496,0.312,2017-05-11T19:47:36Z
2017-02-14,0.452,0.346,75154,0.498,0.306,2017-05-11T19:47:36Z
2017-02-15,0.452,0.346,75154,0.498,0.304,2017-05-11T19:47:36Z
2017-02-16,0.454,0.348,75154,0.500,0.302,2017-05-11T19:47:36Z
2017-02-17,0.456,0.346,75154,0.502,0.298,2017-05-11T19:47:36Z
2017-02-20,0.456,0.350,75154,0.506,0.286,2017-05-11T19:47:36Z
2017-02-21,0.458,0.348,75154,0.506,0.286,2017-05-11T19:47:36Z
2017-02-22,0.458,0.348,75154,0.506,0.288,2017-05-11T19:47:36Z
2017-02-23,0.458,0.344,75154,0.506,0.288,2017-05-11T19:47:36Z
2017-02-24,0.458,0.342,75154,0.502,0.292,2017-05-11T19:47:36Z
...,...,...,...,...,...,...
2017-05-22,0.448,0.396,902608,0.412,0.606,2017-05-22T08:05:30Z
2017-05-23,0.446,0.396,902608,0.408,0.618,2017-05-23T08:11:52Z
2017-05-24,0.442,0.392,902608,0.404,0.622,2017-05-24T08:05:16Z
2017-05-25,0.434,0.390,902608,0.400,0.622,2017-05-25T08:12:41Z
2017-05-26,0.432,0.392,902608,0.396,0.634,2017-05-26T08:06:48Z
2017-05-29,0.430,0.390,902608,0.398,0.628,2017-05-29T08:05:08Z
2017-05-30,0.430,0.394,902608,0.398,0.630,2017-05-30T08:05:54Z
2017-05-31,0.430,0.396,902608,0.396,0.638,2017-06-05T09:38:43Z
2017-06-01,0.432,0.396,902608,0.394,0.646,2017-06-01T08:05:25Z
2017-06-02,0.394,0.402,902608,0.384,0.640,2017-06-02T08:04:43Z
2017-06-05,0.392,0.402,902608,0.382,0.648,2017-06-05T08:04:58Z
2017-06-06,0.394,0.402,902608,0.380,0.658,2017-06-06T08:05:52Z
2017-06-07,0.392,0.400,902608,0.376,0.662,2017-06-07T08:05:46Z
2017-06-08,0.390,0.400,902608,0.372,0.678,2017-06-08T08:33:37Z
2017-06-09,0.392,0.402,902608,0.370,0.682,2017-06-09T08:05:43Z
2017-06-12,0.394,0.398,902608,0.388,0.630,2017-06-12T08:05:22Z
2017-06-13,0.390,0.398,902608,0.392,0.612,2017-06-13T08:05:29Z
2017-06-14,0.392,0.398,902608,0.386,0.632,2017-06-14T08:04:49Z
2017-06-15,0.392,0.398,902608,0.386,0.632,2017-06-15T08:04:51Z
2017-06-16,0.392,0.396,902608,0.390,0.616,2017-06-16T08:05:50Z
2017-06-19,0.392,0.396,902608,0.390,0.618,2017-06-19T08:04:45Z
2017-06-20,0.392,0.400,902608,0.388,0.626,2017-06-20T08:08:35Z
2017-06-21,0.390,0.400,902608,0.386,0.632,2017-06-21T08:07:14Z
2017-06-22,0.390,0.400,902608,0.380,0.650,2017-06-22T08:05:56Z
2017-06-23,0.388,0.402,902608,0.376,0.662,2017-06-23T08:25:02Z
2017-06-26,0.388,0.400,902608,0.376,0.660,2017-06-26T08:05:04Z
2017-06-27,0.390,0.400,902608,0.382,0.642,2017-06-27T08:06:17Z
2017-06-28,0.388,0.400,902608,0.384,0.634,2017-06-28T08:04:52Z
2017-06-29,0.388,0.400,902608,0.382,0.642,2017-06-29T08:05:26Z
2017-06-30,0.388,0.400,902608,0.390,0.618,2017-06-30T08:05:02Z

In [15]:
print(data.head())

            financialReturnsScore  growthScore   gsid  integratedScore  \
date
2017-01-16                  0.456        0.362  75154            0.508
2017-01-17                  0.456        0.362  75154            0.508
2017-01-18                  0.454        0.362  75154            0.508
2017-01-19                  0.458        0.364  75154            0.508
2017-01-20                  0.452        0.370  75154            0.506

            multipleScore            updateTime
date
2017-01-16          0.294  2017-05-11T19:47:36Z
2017-01-17          0.296  2017-05-11T19:47:36Z
2017-01-18          0.290  2017-05-11T19:47:36Z
2017-01-19          0.300  2017-05-11T19:47:36Z
2017-01-20          0.306  2017-05-11T19:47:36Z

In [25]:
for idx, row in data.iterrows():
    # print(row)
    marqueeAssetId = row['growthScore']
    #asset = SecurityMaster.get_asset(marqueeAssetId, AssetIdentifier.MARQUEE_ID)
    #data.loc[data['assetId'] == marqueeAssetId, 'assetName'] = asset.name

print(data.head())

            financialReturnsScore  growthScore   gsid  integratedScore  \
date
2017-01-16                  0.456        0.362  75154            0.508
2017-01-17                  0.456        0.362  75154            0.508
2017-01-18                  0.454        0.362  75154            0.508
2017-01-19                  0.458        0.364  75154            0.508
2017-01-20                  0.452        0.370  75154            0.506

            multipleScore            updateTime
date
2017-01-16          0.294  2017-05-11T19:47:36Z
2017-01-17          0.296  2017-05-11T19:47:36Z
2017-01-18          0.290  2017-05-11T19:47:36Z
2017-01-19          0.300  2017-05-11T19:47:36Z
2017-01-20          0.306  2017-05-11T19:47:36Z